 {{#each articles}}
<li>
  <article class="o-teaser o-teaser--has-image " data-o-component="o-teaser">
    <div class="o-teaser__image-container">
      <div class="o-teaser__image-placeholder image-placeholder">
        <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?url=http%253A%252F%252Fim.ft-static.com%252Fcontent%252Fimages%252Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img&amp;source=o-teaser-demo&amp;width=400&amp;height=400&amp;fit=cover&amp;format=auto&amp;quality=medium "
          class="o-teaser__image " alt="article image"></img>
      </div>
    </div>
    <div class="o-teaser__content ">
      <div class="o-teaser__meta">
        <h3 class="article__tag">
          <a href={{this.tagLink}}>{{this.tag}}</a>
        </h3>
      </div>
      <h3 class="o-teaser__heading ">
        <a href={{this.link}}>{{this.title}}</a>
      </h3>
      <p class="o-teaser__standfirst">{{this.excerpt}}</p>

      <p> {{this.author}}</p>
      <time data-o-component="o-date" class="o-date">{{this.publicationDate}}</time>
    </div>
  </article>
</li>
{{/each}}