 {{#each articles}}
<li>
  <article class="o-teaser o-teaser--has-image " data-o-component="o-teaser">
    <div class="o-teaser__image-container">
      <div class="o-teaser__image-placeholder image-placeholder">
        <img src="/images/FTlogo194x194.png" class="o-teaser__image " alt="article image"></img>
      </div>
    </div>
    <div class="o-teaser__content ">
      <div class="o-teaser__meta">
        <h3 class="article__tag">
          <a href={{this.tagLink}}>{{this.tag}}</a>
        </h3>
      </div>
      <h3 class="o-teaser__heading ">
        <a href={{this.link}}>{{this.title}}</a>
      </h3>
      <p class="o-teaser__standfirst">{{this.excerpt}}</p>

      <p> {{this.author}}</p>
      <time data-o-component="o-date" class="o-date">{{this.publicationDate}}</time>
    </div>
  </article>
</li>
{{/each}}