{{>search}}
<section id="articles-container">
  <div class="o-teaser-collection">
    <h2 class="o-teaser-collection__heading o-teaser-collection__heading--small">
      <a class="o-teaser-collection__heading-link" href="#">{{articles.0.keyword}}</a>
    </h2>
    <ul id="list-of--results">
      {{>article}}
    </ul>
  </div>

  <div class="o-buttons__pagination">
    <a href="?q={{articles.0.keyword}}&page={{articles.0.previousPage}}">
      <button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" type="submit">
        <span class="o-buttons-icon__label">Previous page</span>
      </button>
    </a>
    <span id="pagination_info">Page
      <span id="currentPage-Number">{{articles.0.currentPage}}</span>&nbsp;of&nbsp;
      <span id="totalPage-Number">{{articles.0.totalNumberOfPages}}</span>
    </span>
    <a href="?q={{articles.0.keyword}}&page={{articles.0.nextPage}}">
      <button class="o-buttons o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only" type="submit">
        <span class="o-buttons-icon__label">Next results</span>
      </button>
    </a>

  </div>
</section>