{{>search}}
<section id="articles-container">
  <div class="o-teaser-collection">
    <h2 class="o-teaser-collection__heading o-teaser-collection__heading--small">
      <a class="o-teaser-collection__heading-link" href="#">{{articles.0.keyword}}</a>
    </h2>
    <ul id="list-of--results">
      {{>article}}
    </ul>
  </div>

  <div class="o-buttons__pagination">
    <form action="/pageback" method="POST" role="search " aria-label="Site search" id="previousPage-Form">
      <button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" type="submit">
        <span class="o-buttons-icon__label">Previous page</span>
      </button>
      <input id="currentPage-Number-value" type="hidden" name="currentPageNumber" value="{{articles.0.currentPage}}" />
      <input id="current-Keyword" type="hidden" name="currentKeyword" value="{{articles.0.keyword}}" />
      <span id="pagination_info">page
        <span id="currentPage-Number">{{articles.0.currentPage}}</span>&nbsp;of&nbsp;
        <span id="totalPage-Number">{{articles.0.totalPages}}</span>
      </span>
    </form>
    <form action="/page" method="POST" role="search " aria-label="Site search" id="nextPage-Form">
      <input id="currentPage-Number-value" type="hidden" name="currentPageNumber" value="{{articles.0.currentPage}}" />
      <input id="current-Keyword" type="hidden" name="currentKeyword" value="{{articles.0.keyword}}" />
      <button class="o-buttons o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only" type="submit">
        <span class="o-buttons-icon__label">Next results</span>
      </button>
    </form>
  </div>
</section>