 {{>search}}
<section>
  <div id="articles-container">
    <div class="o-teaser-collection">
      <h2 class="o-teaser-collection__heading o-teaser-collection__heading--small">
        <a class="o-teaser-collection__heading-link" href="#">{{this.articles.0.keyword}}</a>
      </h2>
      <ul id="list-of--results">
        {{>article}}
      </ul>
    </div>
    <div class="o-buttons__pagination">
      <a href="?q={{articles.articles.0.keyword}}&page={{this.pageInformation.previousPageNumber}}" id="previousPageLink" title="Go to previous page">
        <button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" id="previousPageButton">
          <span class="o-buttons-icon__label">Previous page</span>
        </button>
      </a>
      <span id="pagination_info">You are at page &nbsp;
        <span id="currentPage-Number">
          <strong>{{this.pageInformation.currentPageNumber}}</strong>
        </span>
      </span>
      <a href="?q={{this.articles.0.keyword}}&page={{this.pageInformation.nextPageNumber}}" id="nextPageLink" title="Go to next Page">
        <button class="o-buttons o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only" id="nextPageButton">
          <span class="o-buttons-icon__label ">Next results</span>
        </button>
      </a>
    </div>
  </div>
</section>