 {{>search}}
<section>
  <div class="latestNews-container latestNews-container--landscape">
    {{#each articles}}
    <div class="o-card o-card--standout o-card--image-" data-o-component="o-card">
      <div class="o-card__image o-card__image--">
        <img src="/images/placeHolderImage.png" alt="Article image"></img>
      </div>
      <div class="o-card__content">
        <div class="o-card__meta">
          <h2 class="card-tag">
            <a href={{this.tagLink}}>{{this.tag}}</a>
          </h2>
        </div>
        <h3 class="card-title">
          <a href={{this.link}}>{{this.title}}</a>
        </h3>
        <p class="o-teaser__standfirst">{{this.excerpt}}</p>
        <p class="latestNews-author"> {{this.author}}</p>
        <time data-o-component="o-date" class="o-date o-card__timestamp">{{this.publicationDate}}</time>
      </div>
    </div>
    {{/each}}
  </div>
</section>